* {
    font-family: 'Times New Roman';
}

.nav a {
    text-align: right;
    font-size: small;
    margin: 10px;
    border-radius: 5px;
    background-color: gray;
    text-decoration: none;
    color: black;
    text-align: end;
}

.nav2 a {
    color: black;
    font-size: small;
    margin: 40px;
    border-radius: 2px;
    background-color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 300%;
}

.article h2 {
    font-size: smaller;
}

p {
    font-size: small;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.noticia2 {
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    background-color: rgb(154, 152, 152);
    border-radius: 25px;
}

.not {
    width: 1800px;
    height: 900px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    background-color: rgb(154, 152, 152);
    border-radius: 25px;
    font-size: 200%;
   
}
.not p{
    font-size: 110%;
}

.not h3{
    color: rgb(47, 47, 47);
}